body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
}

.mainContainer {
  max-width: 1240px;
  padding: 84px 0 20px 0;
}

.hours h3 {
  text-align: left;
}

.hours dt {
  font-weight: bold
}
.hours dt,
.hours dd {
  display: inline-block;
  margin-bottom: 1em;
}

.hours-day-label {
  width: 40%;
  float: left;
  text-align: left;
}

.hours-day {
  width: 60%;
  margin-left: 0;
  float: right;
  text-align: left;
}

.hours {
  width: 480px;
  margin: 0 auto;
  padding-left: 20px;
}
